# OSX Files
*.DS_Store

# CMake Files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Unix Make File Artifacts
Makefile

# xCode artifacts
CMakeScripts/
*.build/
*.xcodeproj/

# Build Artifacts
build/
bin/
renshi
